html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  background-color: black;
  font-family: Helvetica;
  color: seashell;
}

a {
  color: seashell;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 10px;
  border-bottom: 1px solid seashell;
  background-color: black;
  opacity: 0.9;
}

.link {
  font-size: 22px;
}

.link + .link {
  margin-left: 20px;
}

.logo {
  display: block;
  height: 50px;
}

.body {
  margin-top: 70px;
}

.body-mission {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url('../images/img-mission-background.jpg');
  background-size: cover;
}

.body-shop {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.mission-content {
  width: 1200px;
  height: 100px;
  background-color: black;
  text-align: center;
}

.mission-title {
  padding: 10px 25px 25px 25px ;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  opacity: 0.9;
}

.mission-statement {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  opacity: 0.9;
}

.shop {
  text-align: center;
  width: 1000px;
  margin: auto;
}

.shop-title {
  font-size: 33px;
  font-weight: bold;
  padding: 20px;
  opacity: 0.9;
}

.shop-statement {
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
  opacity: 0.9;
}

.shop-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.shop-image img {
  height: 200px;
  width: 300px;
  display: block;
}

.shop-image + .shop-image {
  margin-left: 25px;
}

.shop-image {
  margin-bottom: 15px;
}

.shop-item {
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.9;
}

.locations-background {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  background-image: url('../images/img-locations-background.jpg');
  background-repeat: no-repeat;
}

.locations-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  opacity: 0.9;
}

.locations-box {
  display: flex;
  margin-top: 15px;
}

.shop-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  text-align: center;
}

.shop-title {
  font-size: 24px;
  font-weight: bold;
}

.shop-address {
  font-size: 22px;
  line-height: 60px;
}

.shop-location + .shop-location {
  margin-left: 40px;
}

.footer {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
}

.shop-name {
  font-size: 24px;
  font-weight: bold;
}

.email {
  display: block;
  margin-top: 30px;
}

.phone {
  margin-top: 30px;
}

.copyright {
  margin-top: 50px;
  padding: 0 20px;
  text-align: left;
}
